DirectoryTree {
    height: 10;
    width: 30;
}

ItemGrid#server_grid {
    max-height: 7;
    height: 5;
    background: $boost;
    border: round green;
}

ScrollableContainer#server_container {
    height: 28;
}

#port_selection {
    width: 15;
    height: 3;
}

#file_selection {
    color: $success;
    max-width: 20;
}

#run_button {
    color: $warning
}
