DirectoryTree {
    height: 8;
    width: 30;
}

ItemGrid#server_grid {
    max-height: 7;
    height: 5;
    background: $boost;
    border: round green;
}

TabbedContent {
    height: 1fr;
}

TabPane {
    height: 1fr;
}

GameTab {
    height: 1fr;
}

GameTab > ScrollableContainer {
    height: 1fr;
}

#bottom-panel {
    height: auto;
    border-top: solid $panel;
}

#updatesection {
    width: auto;
    height: auto;
    background: $boost;
    padding: 0 1;
}

#rebuild_button {
    width: auto;
    min-width: 0;
}

#newserver {
    width: 1fr;
    height: auto;
    border-left: solid $panel;
    padding: 0 1;
}

#name_input {
    width: 1fr;
}

#port_selection {
    width: 16;
}

#newserver_controls {
    width: 1fr;
    height: auto;
}

#file_selection {
    color: $success;
}

#run_button {
    color: $warning;
    width: auto;
}
